* {
    box-sizing: border-box;
}

:root {
    --primary: #8b63ff;
    --primary-dark: #4c2289;
    --primary-light: #f0ebff;
    --text: #52506c;
    --danger: #ff006b;
    --gray: #eeeff5;
    --pink: #e83e8c;
    --red: #dc3545;
    --shadow: #ccc;
}

body {
    font-family: "Rubik", sans-serif;
}
/* 
input[type='number'] {
    -moz-appearance:textfield;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

nav {
    background-image: linear-gradient(
        to left,
        var(--primary),
        var(--primary-dark)
    );
    padding: 30px;
}

nav div {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-weight: lighter;
    color: white;
    letter-spacing: 1.2px;
    padding-right: 24px;
}

nav a:hover {
    color: var(--primary-light);
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    padding: 20px 0;
}

.header-section {
    padding: 90px 0;
    background: var(--gray) url("/images/hero_bg.jpg") no-repeat center center;
}

.header-section > div {
    display: flex;
}

.spira-title {
    padding-top: 60px;
    padding-right: 260px;
    color: #faf9f6;
    font-family: serif;
}

.spira-title span {
    font-size: 4em;
}

.spira-title img {
    padding: 10px 0;
    height: 120px;
}

.spira-title p {
    font-size: 1.5em;
    line-height: 1.3em;
}

.user-form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 36px 48px;
    border-radius: 12px;
    opacity: 95%;
}

.user-form div {
    padding: 14px 0;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    font-size: 1.25em;
    font-family: "Rubik";
}

input[type="number"]:focus,
input[type="text"]:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary);
}

input[type="number"]::selection,
input[type="text"]::selection {
    background-color: var(--primary-light);
}

label {
    font-weight: bold;
}

.age-input {
    padding: 12px 0;
}

.file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed;
    border-radius: 10px;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    text-align: center;
    height: 80px;
    width: 300px;
    font-weight: lighter;
    margin: 20px 0;
    cursor: pointer;
}

.file-input img {
    padding-right: 6px;
    filter: invert(19%) sepia(21%) saturate(6428%) hue-rotate(250deg)
        brightness(86%) contrast(103%);
}

.file-input > input {
    display: none;
}

::-webkit-file-upload-button {
    display: none;
}

.submit-button {
    border: 1px;
    border-radius: 0.25rem;
    padding: 18px 24px;
    background: var(--pink);
    border-color: #dc3545;
    text-transform: uppercase;
    color: var(--gray);
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #cccccc !important;
    border-color: #cccccc;
    cursor: default;
}

.submit-button:hover {
    background: var(--red);
}
