<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://kit.fontawesome.com/419c6e93e6.js" crossorigin="anonymous"></script>
        <title>SPIRA Homepage</title>
    </head>
    <body>
        <section class="header-section">
            <div class="container">
                <div class="spira-title">
                    <h1>Estudo</br><span>SPIRA</span></h1>
                    <p>Doe sua voz e ajude no diagnóstico da Covid-19</p>
                </div>
                <div>
                    <div class="user-form">
                        <form method="POST" action="/predict" enctype="multipart/form-data">
                            <div class="gender-input">
                                <label for="gender">Sexo</label>
                                <i class="fas fa-mars"></i>
                                <input name="sexo" required type="radio" id="gender" value="M">Masculino</input>
                                <i class="fas fa-venus"></i>
                                <input name="sexo" required type="radio" id="gender" value="F">Feminino</input>
                            </div>
                            <div class="age-input">
                                <label for="age">Idade</label>
                                <input name="idade" required type="number" id="age" min="1" max="200">
                            </div>
                            <div class="shortness-breath">
                                <label for="breath">Nível de falta de ar</label>
                                <input name="nivel_falta_de_ar" required type="number" id="breath" min="0" max="10">
                            </div>
                            <div class="file-input">
                                <input name="audio" required type="file" id="audio_file" accept=".wav">
                            </div>
                            <div>
                                <input type="submit" value="Enviar" class="submit-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
