<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/table.css">
        <title>SPIRA Table</title>
    </head>
    <h1 id="title"><span class="blue"></span>SPIRA Table<span class="blue"></pan></h1>
    <h2>Criado em associação com o <a href="http://ccsl.ime.usp.br/wiki/LabXP" target="_blank">LABXP</a></h2>
    <table class="container">
        <thead>
            <tr>
                <th><h1 class="variableTitle">ID</h1></th>
                <th><h1 class="variableTitle">Audio</h1></th>
                <th><h1 class="variableTitle">Sexo</h1></th>
                <th><h1 class="variableTitle">Idade</h1></th>
                <th><h1 class="variableTitle">Nível falta de ar</h1></th>
                <th><h1 class="variableTitle">Resultado</h1></th>
                <th><h1 class="variableTitle"></h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>path para o audio</td>
                <td>M</td>
                <td>22</td>
                <td>5</td>
                <td>0.98</td>
            </tr>
        </tbody>
    </table>
</html>
